/**
 * style.css
 * Contains CSS for basic static website named "White Graphics"
 */

/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Montserrat
    ----------------------------------------
    Colors:
        Moon green:          #5c9320
        Grey:                #212226
        Blue:                #00596A
        White Smoke:         #f4f4f4
        White:               #fff
        Black:               #000   
============================================ */

/*******************************************************************
                            GENERAL
********************************************************************/
html,body{
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
}
section{
    background: #FFF;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
a,a:focus,a:hover{
    text-decoration: none;
}

/*******************************************************************
                            GENERAL BUTTONS
********************************************************************/
.btn-general{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    border-radius: 30px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px;
    transition: all .5s;
}

.btn-green{
    color: #FFF;
    background-color: #5c9320;
}
.btn-white{
    color: #212226;
    background-color: #FFF;
}

.btn-green:hover,.btn-green:focus,.btn-white:hover, .btn-white:focus{
    color: #FFF;
    background-color: #212226;
}

.btn-gradient{
    color: #FFF;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #5c9320 0%, #63c600 51%, #5c9320 100%);
}

.btn-gradient:hover,.btn-gradient:focus{
    color: #FFF;
    background-position: right;
}

/*******************************************************************
                            LINE ICONS
********************************************************************/
[class*='lni-']{
    display: inline-block;
}

/*******************************************************************
                            HELPER CLASSES
********************************************************************/
.m-10{
    margin: 10px;
}
.m-30{
    margin: 30px;
}
.m-50{
    margin: 50px;
}
.m-70{
    margin: 70px;
}
.m-90{
    margin: 90px;
}
.m-100{
    margin: 100px;
}
.m-120{
    margin: 120px;
}

.m-t-10{
    margin-top: 10px;
}
.m-t-30{
    margin-top: 30px;
}
.m-t-50{
    margin-top: 50px;
}
.m-t-70{
    margin-top: 70px;
}
.m-t-90{
    margin-top: 90px;
}
.m-t-100{
    margin-top: 100px;
}
.m-t-120{
    margin-top: 120px;
}

.m-b-10{
    margin-bottom: 10px;
}
.m-b-20{
    margin-bottom: 20px;
}
.m-b-30{
    margin-bottom: 30px;
}
.m-b-50{
    margin-bottom: 50px;
}
.m-b-70{
    margin-bottom: 70px;
}
.m-b-90{
    margin-bottom: 90px;
}
.m-b-100{
    margin-bottom: 100px;
}
.m-b-120{
    margin-bottom: 120px;
}

/*******************************************************************
                            CONTENT BOXES
********************************************************************/
.content-box-lg{
    padding: 120px 0;
}
.content-box-md{
    padding: 100px 0;
}
.content-box-sm{
    padding: 9px 0;
}

/*******************************************************************
                            GENERAL HEADINGS
********************************************************************/

.vertical-heading h5,
.horizontal-heading h5{
    color: #5c9320;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    word-spacing: 9px;
}

.vertical-heading h2,
.horizontal-heading h2{
    font-size: 28px;
    font-weight: 100;
    line-height: 43px;
}

.vertical-heading h5{
    display: inline-block;
    position: relative;
    left: -55px;
    top: 60px;
    transform: rotate(-90deg);
    
}
.vertical-heading h2{
    margin: 0 0 0 35px;
}

.horizontal-heading h5{
    margin-bottom: 5px;
}
.horizontal-heading h2{
    margin: 0;
}
.horizontal-heading{
    text-align: center;
}

.highlight-heading{
    color: #5c9320;
    font-weight: 700;
}


/*******************************************************************
                            HOME SECTION
********************************************************************/
#home{
    height: 100vh;
    background: none;
}
#home-bg-video{
    position: fixed;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
/*    alternative fallback*/
    background: url("../video/video.jpg") no-repeat cover;
}

#home-overlay{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#home-content{
    width: 100%;
    height: 100%;
    display: table;
}
#home-content-inner{
    display: table-cell;
    vertical-align: middle;
}
#home-heading span{
    font-weight: 500;
    color: #5c9320;
}
#home-heading{
    color: #FFF;
    font-size: 5rem;
    font-weight: 100;
    text-transform: capitalize;
    margin: 0;
}
#home-text{
    color: #FFF;
    font-size: 17px;
    font-weight: 100;
    margin: 10px 0 30px;
}

#arrow-down{
    
    position: absolute;
    left: 50%;
    font-size: 32px;
    bottom: 20px;
    z-index: 1;
    color: #FFF;
    margin-left: -16px;
}
#arrow-down:hover, #arrow-down:focus{
    color:  #5c9320;
}


/*******************************************************************
                            ABOUT SECTION
********************************************************************/

#about-bottom img{
    margin: 0 auto;
}

#about-02{
    background: #F4F4F4;
}
.about-item{
    background: #FFF;
    padding: 80px 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
.about-item i{
    font-size: 42px;
}

.about-item h3{
    font-size: 24px;
    margin-bottom: 20px;
}

.about-item hr{
    width: 45px;
    background-color: #5c9320;
    height: 3px;
    margin: 0 auto 20px auto;
}

.about-item:hover{
    background-color: #5c9320;
/*
    transform: rotateY(180deg);
    transform-style: preserve-3d;
*/
}
.about-item:hover i,
.about-item:hover p,
.about-item:hover h3{
    color: #FFF;
}

.about-item:hover hr{
    background-color: #FFF;
}
.about-item:hover i{
    transform: translateY(-20px);
}

.about-item p,
.about-item h3{
    transition: all .4s linear;
}

.about-item,
about-item hr,
.about-item i{
    transition: all .4s ease-in-out;
}

/*******************************************************************
                            TEAM
********************************************************************/
.team-member{
    position: relative;
}
.team-member:hover .team-member-overlay{
    opacity: 1;
}
.team-member-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(33,34,38,0.9);
    overflow: hidden;
    opacity:0;
    transition: all .3s linear;
    
}

.team-member-info{
    width: 100%;
    height: 100%;
    padding: 80px 0;
}

.team-member-info h5{
    color: #5c9320;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.team-member-info p{
    color: #FFF;
    font-weight: 300;
}

/*******************************************************************
                            SOCIAL ICONS
********************************************************************/
ul.social-icons{
    padding: 0;
}
ul.social-icons li{
    display: inline-block;
}
ul.social-icons li a{
    border: 1px solid #FFF;
    display: inline-block;
    line-height: 35px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 100%;
    color: #FFF;
    transition: all .3s linear;
}
ul.social-icons li.fb-icon a:hover{
    background: #3B5988;
    border-color: transparent;
}
ul.social-icons li.twitter-icon a:hover{
    background: #00ACAD;
    border-color: transparent;
}
ul.social-icons li.google-plus-icon a:hover{
    background: #DD4B39;
    border-color: transparent;
}



/*******************************************************************
                            SKILLS
********************************************************************/
.skill h4{
    font-weight: normal;
}
.progress{
    height: 12px;
    border-radius: 50px;
    background-color: #EFEFEF;
    overflow: visible;
}
.progress-bar{
    background: #5c9320;
    background: linear-gradient(to right, #5c9320 0%,#63C600 51%, #5c9320 100%);
    border-radius:50px;
    position: relative;
}

.progress-bar span{
    position: absolute;
    top: -40px;
    left: 95%;
    font-family: "Montserrat", sans-serif;
    background: #212226;
    padding: 5px;
    font-weight: 300;
    text-align: center;
}
.progress-bar span:before{
    content: "";
    border-top: 8px solid #212226;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    left: 34%;
    top: 30px;
     
}


/*******************************************************************
                            LOADER
********************************************************************/
.loader{
    /*Make full screen*/
    width: 100%;
    height: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background: #5c9320;
    background: linear-gradient(to right, #5c9320 2%, #63C600 82%);
    z-index: 9999;
}

.loader-inner{
    position: absolute;
    top: 50%;
    left: 50%;
/*  do this when u know width and height
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-left: -60px;
*/
    transform: translate(-50%,-50%);
    
}

.loader span{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #FFF;
    display: block;
    position: absolute;
    opacity: 0;
    animation: load 5s ease-in-out infinite;
}

.loader-blocks{
    width: 60px;
    height: 60px;
}

.loader span.block-1{
    animation-delay: 1.06s;
    left:0;
    top: 0;
}
.loader span.block-2{
    animation-delay: .97s;
    left:16px;
    top: 0;
}
.loader span.block-3{
    animation-delay: .88s;
    left:32px;
    top: 0;
}
.loader span.block-4{
    animation-delay: .79s;
    left:48px;
    top: 0;
}
.loader span.block-5{
    animation-delay: .70s;
    left:0;
    top: 16px;
}
.loader span.block-6{
    animation-delay: .61s;
    left:16px;
    top: 16px;
}
.loader span.block-7{
    animation-delay: .52s;
    left:32px;
    top: 16px;
}
.loader span.block-8{
    animation-delay: .43s;
    left:48px;
    top: 16px;
}
.loader span.block-9{
    animation-delay: .34s;
    left:0px;
    top: 32px;
}
.loader span.block-10{
    animation-delay: .25s;
    left:16px;
    top: 32px;
}
.loader span.block-11{
    animation-delay: .16s;
    left:32px;
    top: 32px;
}
.loader span.block-12{
    animation-delay: .07s;
    left:48px;
    top: 32px;
}
.loader span.block-13{
    animation-delay: -0.02s;
    left:0px;
    top: 48px;
}
.loader span.block-14{
    animation-delay: -0.11s;
    left:16px;
    top: 48px;
}
.loader span.block-15{
    animation-delay: -0.20s;
    left:32px;
    top: 48px;
}
.loader span.block-16{
    animation-delay: -0.29s;
    left:48px;
    top: 48px;
}

@keyframes load{
    0%{
        opacity: 0;
        transform: translateY(-95px);
    }
    15%{
        opacity: 0;
        transform: translateY(-95px);
    }
    30%{
        opacity: 1;
        transform: translateY(0);
    }
    70%{
        opacity: 1;
        transform: translateY(0);
    }
    85%{
        opacity: 0;
        transform: translateY(95px);
    }
    100%{
        opacity: 0;
        transform: translateY(95px);
    }
}


/*******************************************************************
                            OWL SLIDER BUTTONS
********************************************************************/
.owl-theme .owl-nav [class*=owl-]{
    color: #212226;
    font-size: 40px;
    background: none;
    margin: 0;
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background: none;
    color: #5c9320;
}








